.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

  background: #3366cc;
  padding: 14px 24px;
  color: white;
  z-index: 1000;
}

.nav {
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 70% ;

}
.nav li {
    background: #2563eb;
 
  border: none;
  cursor: pointer;
   padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}
.nav li a {
  color: white;
  text-decoration: none;
  
}

.nav li a:hover {
  /* text-decoration: underline; */
  background: #1e4fd8;
}


body {
  margin-top :70px;
  background: #7992aa;
  padding: 24px;
  color: #333;
}

h1 {
  margin-bottom: 20px;
}

/* ===== Thống kê ===== */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 32px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  
}

.card h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.card p {
  margin-top: 8px;
  font-size: 28px;
  font-weight: 700;
  color: #2563eb;
}

/* ===== Form ===== */
.form-card {
  margin-bottom: 24px;
  margin-top: 24px;
}

.filters {
  display: flex;
  flex-direction: column; /* mỗi input 1 dòng */
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}
.time-row {
  display: flex;
  gap: 20px;
}

.time-row > div {
  flex: 1;
}

.time-row input {
  width: 88%;
}

.filters input,
.filters select,
.filters button {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.filters button {
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filters button:hover {
  background: #1e4fd8;
}

/* ===== Bảng ===== */
table {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

thead {
  background: #2563eb;
  color: #fff;
}

th, td {
  padding: 14px 16px;
  font-size: 14px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background: #f1f5ff;
}


