USE [master]
GO
/****** Object:  Database [QuanLyBaiXe]    Script Date: 14-Mar-26 2:55:40 PM ******/

CREATE DATABASE [QuanLyBaiXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBaiXe', FILENAME = N'C:\Users\Admin\Desktop\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLyBaiXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBaiXe_log', FILENAME = N'C:\Users\Admin\Desktop\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLyBaiXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
	EXEC [QuanLyBaiXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [QuanLyBaiXe]
GO
/****** Object:  User [mymy]    Script Date: 14-Mar-26 2:55:40 PM ******/
CREATE USER [mymy] FOR LOGIN [mymy] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mymy]
GO
/****** Object:  Table [dbo].[BaiXe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiXe]
(
	[BaiXeId] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiXe] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SucChuaTong] [int] NULL,
	PRIMARY KEY CLUSTERED 
(
	[BaiXeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoDoXe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoDoXe]
(
	[ChoDoId] [int] IDENTITY(1,1) NOT NULL,
	[KhuVucId] [int] NOT NULL,
	[MaSoCho] [varchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	PRIMARY KEY CLUSTERED 
(
	[ChoDoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc]
(
	[KhuVucId] [int] IDENTITY(1,1) NOT NULL,
	[BaiXeId] [int] NOT NULL,
	[TenKhuVuc] [nvarchar](50) NOT NULL,
	[LoaiXeChoPhep] [nvarchar](50) NULL,
	PRIMARY KEY CLUSTERED 
(
	[KhuVucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDoXe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDoXe]
(
	[LichSuId] [int] IDENTITY(1,1) NOT NULL,
	[ChoDoId] [int] NOT NULL,
	[BienSoXe] [varchar](20) NOT NULL,
	[ThoiGianVao] [datetime] NULL,
	[ThoiGianRa] [datetime] NULL,
	PRIMARY KEY CLUSTERED 
(
	[LichSuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe]
(
	[LoaiVeId] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[LoaiVeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe]
(
	[LoaiXeId] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
	[GiaTienLuot] [decimal](10, 2) NOT NULL,
	[GiaTienThang] [decimal](10, 2) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[LoaiXeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotGui]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotGui]
(
	[LuotGuiId] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianVao] [datetime] NOT NULL,
	[ThoiGianRa] [datetime] NULL,
	[PhiGui] [decimal](10, 2) NULL,
	[XeId] [int] NULL,
	[VeXeId] [int] NULL,
	[TrangThaiThanhToan] [bit] NULL,
	[LoaiXe] [nvarchar](50) NULL,
	[SoCuoi] [nchar](10) NULL,
	CONSTRAINT [PK__LuotGui__778C91961991ECBC] PRIMARY KEY CLUSTERED 
(
	[LuotGuiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [QuanLyBaiXe]
GO

-- 1. Thêm cột LoaiXe nếu chưa có
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'LoaiXe' AND Object_ID = Object_ID(N'LuotGui'))
BEGIN
    ALTER TABLE [dbo].[LuotGui] ADD [LoaiXe] [nvarchar](50) NULL;
END

-- 2. Thêm cột SoCuoi nếu chưa có
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'SoCuoi' AND Object_ID = Object_ID(N'LuotGui'))
BEGIN
    ALTER TABLE [dbo].[LuotGui] ADD [SoCuoi] [nchar](10) NULL;
END
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien]
(
	[NhanVienId] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	PRIMARY KEY CLUSTERED 
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong]
(
	[NhatKyId] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanId] [int] NULL,
	[HanhDong] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NULL,
	PRIMARY KEY CLUSTERED 
(
	[NhatKyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen]
(
	[PhanQuyenId] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	PRIMARY KEY CLUSTERED 
(
	[PhanQuyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan]
(
	[TaiKhoanId] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[PhanQuyenId] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	PRIMARY KEY CLUSTERED 
(
	[TaiKhoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiVe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiVe]
(
	[TrangThaiId] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[TrangThaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeGui]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeGui]
(
	[VeGuiId] [int] IDENTITY(1,1) NOT NULL,
	[LoaiVeId] [int] NOT NULL,
	[TrangThaiId] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	PRIMARY KEY CLUSTERED 
(
	[VeGuiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeXe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeXe]
(
	[VeXeId] [int] IDENTITY(1,1) NOT NULL,
	[MaVe] [varchar](50) NOT NULL,
	[LoaiVe] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	PRIMARY KEY CLUSTERED 
(
	[VeXeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 14-Mar-26 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe]
(
	[XeId] [int] IDENTITY(1,1) NOT NULL,
	[BienSo] [varchar](20) NOT NULL,
	[LoaiXe] [nvarchar](30) NULL,
	[LoaiXeId] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[XeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiXe] ON

INSERT [dbo].[BaiXe]
	([BaiXeId], [TenBaiXe], [DiaChi], [SucChuaTong])
VALUES
	(1, N'Bãi Xe Trung Tâm', N'123 Cầu Giấy', 100)
SET IDENTITY_INSERT [dbo].[BaiXe] OFF
GO
SET IDENTITY_INSERT [dbo].[ChoDoXe] ON

INSERT [dbo].[ChoDoXe]
	([ChoDoId], [KhuVucId], [MaSoCho], [TrangThai])
VALUES
	(1, 1, N'A-01', N'TRỐNG')
INSERT [dbo].[ChoDoXe]
	([ChoDoId], [KhuVucId], [MaSoCho], [TrangThai])
VALUES
	(2, 1, N'A-02', N'TRỐNG')
INSERT [dbo].[ChoDoXe]
	([ChoDoId], [KhuVucId], [MaSoCho], [TrangThai])
VALUES
	(3, 2, N'B-01', N'TRỐNG')
SET IDENTITY_INSERT [dbo].[ChoDoXe] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVuc] ON

INSERT [dbo].[KhuVuc]
	([KhuVucId], [BaiXeId], [TenKhuVuc], [LoaiXeChoPhep])
VALUES
	(1, 1, N'Khu A', N'Xe máy')
INSERT [dbo].[KhuVuc]
	([KhuVucId], [BaiXeId], [TenKhuVuc], [LoaiXeChoPhep])
VALUES
	(2, 1, N'Khu B', N'Ô tô')
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiVe] ON

INSERT [dbo].[LoaiVe]
	([LoaiVeId], [TenLoaiVe])
VALUES
	(2, N'Ô tô')
INSERT [dbo].[LoaiVe]
	([LoaiVeId], [TenLoaiVe])
VALUES
	(1, N'Xe máy')
SET IDENTITY_INSERT [dbo].[LoaiVe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiXe] ON

INSERT [dbo].[LoaiXe]
	([LoaiXeId], [TenLoaiXe], [GiaTienLuot], [GiaTienThang])
VALUES
	(1, N'Xe máy', CAST(5000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[LoaiXe]
	([LoaiXeId], [TenLoaiXe], [GiaTienLuot], [GiaTienThang])
VALUES
	(2, N'Ô tô', CAST(20000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[LoaiXe] OFF
GO
SET IDENTITY_INSERT [dbo].[LuotGui] ON

INSERT [dbo].[LuotGui]
	([LuotGuiId], [ThoiGianVao], [ThoiGianRa], [PhiGui], [XeId], [VeXeId], [TrangThaiThanhToan], [LoaiXe], [SoCuoi])
VALUES
	(2, CAST(N'2026-01-29T14:45:12.033' AS DateTime), CAST(N'2026-01-29T07:55:04.130' AS DateTime), CAST(30000.00 AS Decimal(10, 2)), 2, 1, 1, N'Đỏ', NULL)
INSERT [dbo].[LuotGui]
	([LuotGuiId], [ThoiGianVao], [ThoiGianRa], [PhiGui], [XeId], [VeXeId], [TrangThaiThanhToan], [LoaiXe], [SoCuoi])
VALUES
	(3, CAST(N'2026-01-29T15:00:44.783' AS DateTime), CAST(N'2026-01-29T15:00:50.730' AS DateTime), CAST(5000.00 AS Decimal(10, 2)), 2, 1, 1, N'Đỏ', NULL)
INSERT [dbo].[LuotGui]
	([LuotGuiId], [ThoiGianVao], [ThoiGianRa], [PhiGui], [XeId], [VeXeId], [TrangThaiThanhToan], [LoaiXe], [SoCuoi])
VALUES
	(4, CAST(N'2026-01-29T15:08:34.350' AS DateTime), CAST(N'2026-01-30T13:59:36.863' AS DateTime), NULL, 2, 1, 1, N'Đỏ', NULL)
SET IDENTITY_INSERT [dbo].[LuotGui] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON

INSERT [dbo].[NhanVien]
	([NhanVienId], [HoTen], [SoDienThoai], [ChucVu], [TrangThai])
VALUES
	(1, N'Nguyễn Văn A', N'0912345678', N'Quản lý', 1)
INSERT [dbo].[NhanVien]
	([NhanVienId], [HoTen], [SoDienThoai], [ChucVu], [TrangThai])
VALUES
	(1010, N'my', N'0973391867', N'Nhân viên', 1)
INSERT [dbo].[NhanVien]
	([NhanVienId], [HoTen], [SoDienThoai], [ChucVu], [TrangThai])
VALUES
	(2002, N'quynh', N'1234567890', N'Quản lý', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON

INSERT [dbo].[PhanQuyen]
	([PhanQuyenId], [TenQuyen], [MoTa])
VALUES
	(1, N'Admin', N'Quản trị hệ thống')
INSERT [dbo].[PhanQuyen]
	([PhanQuyenId], [TenQuyen], [MoTa])
VALUES
	(2, N'NhanVien', N'Nhân viên vận hành')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON

INSERT [dbo].[TaiKhoan]
	([TaiKhoanId], [TenDangNhap], [MatKhau], [NhanVienId], [PhanQuyenId], [TrangThai])
VALUES
	(1, N'admin', N'123456', 1, 1, 1)
INSERT [dbo].[TaiKhoan]
	([TaiKhoanId], [TenDangNhap], [MatKhau], [NhanVienId], [PhanQuyenId], [TrangThai])
VALUES
	(3, N'mymy', N'123456', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TrangThaiVe] ON

INSERT [dbo].[TrangThaiVe]
	([TrangThaiId], [TenTrangThai])
VALUES
	(2, N'Đang sử dụng')
INSERT [dbo].[TrangThaiVe]
	([TrangThaiId], [TenTrangThai])
VALUES
	(1, N'Trống')
SET IDENTITY_INSERT [dbo].[TrangThaiVe] OFF
GO
SET IDENTITY_INSERT [dbo].[VeGui] ON

INSERT [dbo].[VeGui]
	([VeGuiId], [LoaiVeId], [TrangThaiId], [NgayTao])
VALUES
	(1, 1, 1, CAST(N'2026-01-29T13:42:52.357' AS DateTime))
INSERT [dbo].[VeGui]
	([VeGuiId], [LoaiVeId], [TrangThaiId], [NgayTao])
VALUES
	(2, 1, 1, CAST(N'2026-01-29T13:42:52.357' AS DateTime))
INSERT [dbo].[VeGui]
	([VeGuiId], [LoaiVeId], [TrangThaiId], [NgayTao])
VALUES
	(3, 1, 1, CAST(N'2026-01-29T13:42:52.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[VeGui] OFF
GO
SET IDENTITY_INSERT [dbo].[VeXe] ON

INSERT [dbo].[VeXe]
	([VeXeId], [MaVe], [LoaiVe], [TrangThai])
VALUES
	(1, N'V001', N'Xe máy', N'Đang sử dụng')
INSERT [dbo].[VeXe]
	([VeXeId], [MaVe], [LoaiVe], [TrangThai])
VALUES
	(2, N'V002', N'Xe máy', N'Đang sử dụng')
INSERT [dbo].[VeXe]
	([VeXeId], [MaVe], [LoaiVe], [TrangThai])
VALUES
	(1104, N'V003', N'Vé ngày', N'Đang sử dụng')
GO
SET IDENTITY_INSERT [dbo].[VeXe] OFF
GO
SET IDENTITY_INSERT [dbo].[Xe] ON

INSERT [dbo].[Xe]
	([XeId], [BienSo], [LoaiXe], [LoaiXeId])
VALUES
	(1, N'KHO-XE', NULL, 1)
INSERT [dbo].[Xe]
	([XeId], [BienSo], [LoaiXe], [LoaiXeId])
VALUES
	(2, N'29A-99999', NULL, 1)
INSERT [dbo].[Xe]
	([XeId], [BienSo], [LoaiXe], [LoaiXeId])
VALUES
	(3, N'29A-99899', NULL, 1)
SET IDENTITY_INSERT [dbo].[Xe] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChoDoXe__7D84964208220B56]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[ChoDoXe] ADD UNIQUE NONCLUSTERED 
(
	[MaSoCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiVe__F434FCFABB87BBC1]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[LoaiVe] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhanQuye__5637EE79EE761E3B]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[PhanQuyen] ADD UNIQUE NONCLUSTERED 
(
	[TenQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0C07B070E]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TrangTha__9489EF66A8597BD5]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[TrangThaiVe] ADD UNIQUE NONCLUSTERED 
(
	[TenTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VeXe__2725100EA28B6FD2]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[VeXe] ADD UNIQUE NONCLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Xe__F7052EB63BD90C0B]    Script Date: 14-Mar-26 2:55:40 PM ******/
ALTER TABLE [dbo].[Xe] ADD UNIQUE NONCLUSTERED 
(
	[BienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiXe] ADD  DEFAULT ((0)) FOR [SucChuaTong]
GO
ALTER TABLE [dbo].[ChoDoXe] ADD  DEFAULT (N'TRỐNG') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuDoXe] ADD  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[LoaiXe] ADD  DEFAULT ((0)) FOR [GiaTienLuot]
GO
ALTER TABLE [dbo].[LoaiXe] ADD  DEFAULT ((0)) FOR [GiaTienThang]
GO
ALTER TABLE [dbo].[LuotGui] ADD  CONSTRAINT [DF__LuotGui__ThoiGia__6BAEFA67]  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[LuotGui] ADD  CONSTRAINT [DF__LuotGui__PhiGui__6CA31EA0]  DEFAULT ((0)) FOR [PhiGui]
GO
ALTER TABLE [dbo].[LuotGui] ADD  CONSTRAINT [DF__LuotGui__TrangTh__0FEC5ADD]  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[VeGui] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[VeXe] ADD  DEFAULT (N'TRỐNG') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChoDoXe]  WITH CHECK ADD  CONSTRAINT [FK_ChoDoXe_KhuVuc] FOREIGN KEY([KhuVucId])
REFERENCES [dbo].[KhuVuc] ([KhuVucId])
GO
ALTER TABLE [dbo].[ChoDoXe] CHECK CONSTRAINT [FK_ChoDoXe_KhuVuc]
GO
ALTER TABLE [dbo].[KhuVuc]  WITH CHECK ADD  CONSTRAINT [FK_KhuVuc_BaiXe] FOREIGN KEY([BaiXeId])
REFERENCES [dbo].[BaiXe] ([BaiXeId])
GO
ALTER TABLE [dbo].[KhuVuc] CHECK CONSTRAINT [FK_KhuVuc_BaiXe]
GO
ALTER TABLE [dbo].[LichSuDoXe]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_ChoDo] FOREIGN KEY([ChoDoId])
REFERENCES [dbo].[ChoDoXe] ([ChoDoId])
GO
ALTER TABLE [dbo].[LichSuDoXe] CHECK CONSTRAINT [FK_LichSu_ChoDo]
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD  CONSTRAINT [FK_LuotGui_VeXe] FOREIGN KEY([VeXeId])
REFERENCES [dbo].[VeXe] ([VeXeId])
GO
ALTER TABLE [dbo].[LuotGui] CHECK CONSTRAINT [FK_LuotGui_VeXe]
GO
ALTER TABLE [dbo].[LuotGui]  WITH CHECK ADD  CONSTRAINT [FK_LuotGui_Xe] FOREIGN KEY([XeId])
REFERENCES [dbo].[Xe] ([XeId])
GO
ALTER TABLE [dbo].[LuotGui] CHECK CONSTRAINT [FK_LuotGui_Xe]
GO
ALTER TABLE [dbo].[NhatKyHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKy_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanId])
GO
ALTER TABLE [dbo].[NhatKyHeThong] CHECK CONSTRAINT [FK_NhatKy_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([PhanQuyenId])
REFERENCES [dbo].[PhanQuyen] ([PhanQuyenId])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
ALTER TABLE [dbo].[VeGui]  WITH CHECK ADD  CONSTRAINT [FK_VeGui_LoaiVe] FOREIGN KEY([LoaiVeId])
REFERENCES [dbo].[LoaiVe] ([LoaiVeId])
GO
ALTER TABLE [dbo].[VeGui] CHECK CONSTRAINT [FK_VeGui_LoaiVe]
GO
ALTER TABLE [dbo].[VeGui]  WITH CHECK ADD  CONSTRAINT [FK_VeGui_TrangThai] FOREIGN KEY([TrangThaiId])
REFERENCES [dbo].[TrangThaiVe] ([TrangThaiId])
GO
ALTER TABLE [dbo].[VeGui] CHECK CONSTRAINT [FK_VeGui_TrangThai]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiXe] FOREIGN KEY([LoaiXeId])
REFERENCES [dbo].[LoaiXe] ([LoaiXeId])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiXe]
GO
USE [master]
GO
